{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="static/css/main.css">
<link href="https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Jersey+25&family=Press+Start+2P&display=swap" rel="stylesheet">

{% endblock %}

{% block body %}
<div class="content">
    <h1>Bounty Master</h1>

    <table class="content-table">

        <tr id="tr1">
            <th>Task</th>
            <th>Added</th>
            <th>Action</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>
                    {{ task.content }}
                </td>
                <td>
                    {{ task.date_created.date() }}
                </td>
                <td>
                    {{ task.deadline }}
                </td>
                <td>
                    {{ task.explanation }}
                </td>
                <td>
                    <a href="/delete/{{task.id}}">delete</a>
                    <br>
                    <a href="/update/{{task.id}}">update</a>
                </td>
            </tr>
        {% endfor %}       
    </table>
    <br>
    <form action="/", method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="add task">
    </form> 

</div>
{% endblock %}